<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/finaltest</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">gugu2018</property>
        <property name="show_sql">true</property>
 
        <!-- Specifying Session Context -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
 		<property name="connection.pool_size">100</property>
        <!-- Mapping With Model Class Containing Annotations -->
       <mapping class="transporte.CandidatoTO" />
        <mapping class="transporte.QuestaoTO" />
        <mapping class="transporte.QuestionarioTO" />
    </session-factory>
</hibernate-configuration>